.top {
    background-color: rgb(51, 51, 51) !important;

    height: 100vh !important;

    margin: 0 !important;

    text-align: center !important;
}

.bg-darklighter {
    background-color: rgb(76, 76, 76) !important;
}