.messageBox {

    .delete {
        display: none;
    }

    .rename {
        display: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .delete {
            display: block;
        }

        .rename {
            display: block;
        }
    }
}

.dmListUser {
    background-color: rgb(41, 41, 41);

    &:hover {
        background-color: rgb(53, 53, 53);

        transform: scale(1.05);
        box-shadow: 0px 0px 10px white;

        transition-duration: 0.1s;
    }
}

.serverListTop {
    background-color: rgb(36, 36, 36) !important;
}

.bg-room {
    background-color: rgb(60, 60, 60) !important;
    aspect-ratio: 1/1; 
    width: 50px;
}