.messageBox {

    .delete {
        display: none;
    }

    .rename {
        display: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .delete {
            display: block;
        }

        .rename {
            display: block;
        }
    }
}